# database connection string
DATABASE_URI_DEV=
DATABASE_URI_PRD=

# payload secret
PAYLOAD_SECRET=

# used to validate preview requests
PREVIEW_SECRET=

# secret used to authenticate cron jobs
CRON_SECRET=

# resend email
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=

# cloudflare s3 compatible storage
CLOUDFLARE_BUCKET=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_ACCESS_KEY_SECRET=
CLOUDFLARE_REGION=
CLOUDFLARE_ENDPOINT=

# minio s3 compatible storage
MINIO_BUCKET=
MINIO_ACCESS_KEY_ID=
MINIO_ACCESS_KEY_SECRET=
MINIO_REGION=
MINIO_ENDPOINT=

# used to format links and urls
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# name of payload meta icon
NEXT_PUBLIC_META_ICON=favicon.svg

# microsoft clarity settings
NEXT_PUBLIC_CLARITY_ID=

# clerk auth environment variables
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SIGNING_SECRET=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/post-auth
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/post-auth